<form class="main">
    <div class="imgcontainer">
        <h4 class="avtar">Login</h4>
    </div>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="userid" required> ​
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="userpass" required>

        <button (click)="login()">Login</button>
    </div>
    <div class="container">
        <span class="psw">Sign Up &nbsp; <a href="#">  new account</a></span>
    </div>
</form>