<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/UserPage">{{Profile.UserName}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/UserPage">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/Profile" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/EditProfile">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/Crops">Crops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/Login">LogOut</a>
                </li>

            </ul>
        </div>

    </div>
</nav>
<div class="row" *ngIf="cropdisplay">
    <div class="column" *ngFor="let item of crops">
        <div class="card" (click)="Addcropmenu(item.CropId)">
            <img src="{{item.CropImgUrl}}" alt="image unavailable" style="height: 200px;">
            <h4>{{item.CropName}}</h4>
            <p>{{item.CropDecription}}</p>
            <p>{{item.CropRate}}</p>
        </div>
    </div>
</div>
<div class="card" *ngIf="addcropmenu">
    <div class="menu card-body">
        <img src="{{Mycrop.CropImgUrl}}" style="height: 200px; width: 200px;">
        <h3>Crop Name :{{Mycrop.CropName}}</h3><br>
        <span> Enter Area </span>
        <input type="text" placeholder="Area in acres" [(ngModel)]="MyPlanting.Area"><br><br>
        <span>Planting Date </span>
        <input type="date" [(ngModel)]="MyPlanting.PlantingDate"><br><br>
        <button class="btn btn-success" (click)="AddCrop()" style="margin: 5%;">Plant</button>
        <button class="btn btn-danger" (click)="Cancel()" style="margin: 5%;">Cancel</button>
    </div>

</div>